ul{
    padding-top: calc(22px + 80px);
    box-sizing: border-box;
    width: min(100%, 375px);
    height: calc(100vh - 80px);
    background-color: #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden;
}
ul > li{
    padding: calc(30px - 20px) 8px;
    border-radius: 2px;
    display: inline-flex-box;
    margin: 4px 0px;
}
ul > li span{
    line-height: 20px;
    margin-right: 5px;
}
.info{
    color: #AAAAAA;
}
.negrito{
    font-weight: 700;
}
/*  */
.userStatus{
    background-color: #DCDCDC;
}
.userMessage{
    background-color: #ffffff;
}
.privateMessage{
    background: #FFDEDE;
}