body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > header,
body > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  padding: 16px 22px;
  width: min(100%, 375px);
  position: fixed;
  z-index: 2;
  background-color: white;
}
body > header {
  top: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
body > header > img {
  width: 75px;
}
body > header > ion-icon {
  cursor: pointer;
  font-size: 42px;
}
/* footer */
body > form {
  bottom: 0px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
body > form > div > input {
  border: transparent;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
body > form > div > p {
  margin-left: 2px;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
body > form > input:focus,
body > form > input:focus-visible {
  outline: transparent;
  border: transparent;
}
body > form > button {
  border: 0px transparent;
  outline: 0px transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body > form > button > ion-icon {
  font-size: 26px;
}
